@import '_variables.scss';

@mixin button {
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin form-button {
    @include button;
    font-size: 1.2em;
    font-weight: 400;
    padding: 1vh 3vh;
    background-color: rgb(53, 53, 53);
    color: white;
    position: relative;
    border-radius: $radius;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5vh;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $font-color;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10vh;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $big-gap;
}

main {
    width: 55vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
}

.filters {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: calc($big-gap - 1vh);

    &>button {
        @include button;
        background-color: $primary;
        color: white;
        border: 1px solid $primary;
        border: 3px solid $additional;
        padding: 1vh 3vh;
        border-radius: $radius;
        font-size: 1.2em;
        font-weight: 400;
        width: auto;

        @media screen and (max-width: 456px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 1400px) {
        justify-content: flex-start;
    }

}


.tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $small-gap;
}