@import '_variables.scss';

@mixin button {
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@mixin form-button {
    @include button;
    font-size: 1.2em;
    font-weight: 400;
    padding: 1vh 3vh;
    background-color: rgb(53, 53, 53);
    color: white;
    position: relative;
    border-radius: $radius;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 5vh;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $font-color;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10vh;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

main {
    width: 55vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5vh;
}

.tasks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $small-gap;

    &>.task {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: $small-gap;
        justify-content: space-between;
        width: 100%;
        position: relative;
        border-radius: $radius;
        background-color: $additional;
        font-size: 1em;
        color: white;
        gap: $small-gap;

        &>.buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $small-gap;
            position: relative;
            border-radius: $radius;
            background-color: rgb(71, 71, 71);
            font-size: 1em;
            color: $font-color;

            &>button {
                @include button;
                background-color: transparent;
                padding: $small-gap;
            }
        }

        @media screen and (max-width:456px) {
            &>.buttons {
                width: 100%;
                justify-content: space-evenly;
            }
        }
    }

}